*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.header{
    background-color: crimson;
    width: 90%;
    height: 75px; 
    align-content: center;
    margin-left: 5%;
    position: relative;
}



.linija{
    width: 80%;
}


.footer-quan{
	left: 0;
	bottom: 0;
	width: 90%;
	background-color: #101010;
	color: white;
	text-align: center;
    margin-left: 5%;
}

.footer-quan p{
	margin-top: 1%;
	margin-bottom: 1%;
}



.navbar{
    background-color: white;
    position: relative;
}

.wrapper-2{
    display: grid;
    grid-template-columns: 45% 50%;
    margin-left: 5%;    
}
.wrapper-2 > div{
    background-color: #eee;
    padding: 1em;
}
.wrapper-2 >div:nth-child(odd){
    background-color: #ddd;
}


.wrapper{
    display: grid;
    grid-template-columns: 31.5% 31.75% 31.5%;
    margin-left: 5%;
}
.wrapper li{
    color: white;
    font-family: Arial;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.wrapper > div{
    background-color: #262626;
    padding: 1em;
}
.wrapper >div:nth-child(odd){
    background-color: #1f1f1f;
}
.slika img{
    width: 90%;
    height: 40%;
    margin-left: 5%;
}

.header span{
    color: white;
    font-family: Arial;
    font-size: 26px;
    font-style: italic;
}

.naslov h1{
    color: crimson;
    font-family: Arial;
}


.wrapper-1{
    display: grid;
    grid-template-columns: 45% 50%;
    margin-left: 5%;    
}

.wrapper-1 > div{
    background-color: #ddd;
    padding:1em;
}

.wrapper-1 >div:nth-child(odd){
    background-color: #eee;
}


.article-2{
    margin-left: 5%;
}
.article-4{
    margin-left: 5%;
}
.article-1 h2{
    color: #990000;
    font-family: Arial;
    font-style: italic;
}

.article-2 h2{
    color: #990000;
    font-family: Arial;
    font-style: italic;
}

.article-1 p{
    font-family: Arial;
    font-size: 16px;
}

.article-2 p{
    font-family: Arial;
    font-size: 16px;
}


.article-3 h2{
    color: #990000;
    font-family: Arial;
    font-style: italic;
}

.article-4 h2{
    color: #990000;
    font-family: Arial;
    font-style: italic;
}

.article-3 p{
    font-family: Arial;
    font-size: 16px;
}

.article-4 p{
    font-family: Arial;
    font-size: 16px;
}